@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "zelda";
  src: local("zelda"),
    url("./fonts/The Wild Breath of Zelda.otf") format("opentype");
  font-weight: normal;
}